### Connect to the SQLite database

In [1]:
import sqlite3

### Creating a new SQLite Database

In [2]:
sqlite3.connect('CINEMA_fav.db') #YOU CAN CHANGE this name ('CINEMA_fav.db')  WHICH IS A DATABASE NAME

### Creating a new table (Movies)

In [3]:
conn = sqlite3.connect('CINEMA_fav.db')

In [4]:
c = conn.cursor()
c.execute('''CREATE TABLE Movies
             ([Movie_id] INT PRIMARY KEY, [Movie_Name] text, [Lead_Actor] text, [Lead_Actress] text, [Director] text, [Year_of_Release] date)''')
                 
conn.commit()

### View Created Table Description in SQLite database which is created recently

In [6]:
c.execute('SELECT * FROM Movies').description

(('Movie_id', None, None, None, None, None, None),
 ('Movie_Name', None, None, None, None, None, None),
 ('Lead_Actor', None, None, None, None, None, None),
 ('Lead_Actress', None, None, None, None, None, None),
 ('Director', None, None, None, None, None, None),
 ('Year_of_Release', None, None, None, None, None, None))

### Inserting data into Movies table

In [7]:
c = conn.cursor()

c.execute ("INSERT INTO Movies VALUES (1, 'K.G.F: Chapter 1','Yash','Srinidhi Shetty', 'Prashanth Neel', '21 December 2018' )");
                 
conn.commit()

##### Verify the table value successfully inserted or not

In [8]:
for row in c.execute('SELECT * FROM Movies'):
    print(row)

(1, 'K.G.F: Chapter 1', 'Yash', 'Srinidhi Shetty', 'Prashanth Neel', '21 December 2018')

##### Inserting another data into Movies table

In [10]:
c = conn.cursor()

c.execute ("INSERT INTO Movies VALUES (2, 'Tum Bin','Priyanshu Chatterjee','Sandali Sinha', 'Anubhav Sinha', '13 July 2001' )");
c.execute ("INSERT INTO Movies VALUES (3, 'Baahubali: The Beginning','Prabhas','Anushka Shetty', 'S. S. Rajamouli', '10 July 2015' )");
c.execute ("INSERT INTO Movies VALUES (4, 'Baahubali 2: The Conclusion','Prabhas','Anushka Shetty', 'S. S. Rajamouli', '28 April 2017' )");
c.execute ("INSERT INTO Movies VALUES (5, 'Junglee','Vidyut Jammwal','Pooja Sawant', 'Chuck Russell', '29 March 2019' )");
c.execute ("INSERT INTO Movies VALUES (6, 'Dangal','Aamir Khan','Fatima Sana Shaikh', 'Nitesh Tiwari', '23 December 2016' )");
c.execute ("INSERT INTO Movies VALUES (7, '3 Idiots','Aamir Khan','Kareena Kapoo', 'Rajkumar Hirani', '25 December 2009' )");
c.execute ("INSERT INTO Movies VALUES (8, 'Thugs of Hindostan',' Aamir Khan','Fatima Sana Shaikh', 'Vijay Krishna Acharya', '8 November 2018' )");
c.execute ("INSERT INTO Movies VALUES (9, 'Lagaan','Aamir Khan','Gracy Singh', 'Ashutosh Gowariker', '15 June 2001' )");
c.execute ("INSERT INTO Movies VALUES (10, 'Mangal Pandey: The Rising','Aamir Khan','Rani Mukerji', 'Ketan Mehta', '12 August 2005' )");
c.execute ("INSERT INTO Movies VALUES (11, 'Drishyam','Ajay Devgan','Tabu', 'Nishikant Kamat', '31 July 2015' )");
c.execute ("INSERT INTO Movies VALUES (12, 'Shivaay','Ajay Devgan','Erika Kaar', 'Ajay Devgn', '28 October 2016' )");
c.execute ("INSERT INTO Movies VALUES (13, 'Raid','Ajay Devgan','Ileana D Cruz', 'Raj Kumar Gupta', '16 March 2018' )");
c.execute ("INSERT INTO Movies VALUES (14, 'Tanhaji','Ajay Devgan','Kajol', 'Om Raut', '10 January 2020' )");
c.execute ("INSERT INTO Movies VALUES (15, 'Kesari','Akshay Kumar','Parineeti Chopra', 'Anurag Singh', '21 March 2019' )"); 

conn.commit()

### Querying data from Movies table

##### Verifing the values of Movies table

In [11]:
for row in c.execute('SELECT * FROM Movies'):
    print(row)

(1, 'K.G.F: Chapter 1', 'Yash', 'Srinidhi Shetty', 'Prashanth Neel', '21 December 2018')
(2, 'Tum Bin', 'Priyanshu Chatterjee', 'Sandali Sinha', 'Anubhav Sinha', '13 July 2001')
(3, 'Baahubali: The Beginning', 'Prabhas', 'Anushka Shetty', 'S. S. Rajamouli', '10 July 2015')
(4, 'Baahubali 2: The Conclusion', 'Prabhas', 'Anushka Shetty', 'S. S. Rajamouli', '28 April 2017')
(5, 'Junglee', 'Vidyut Jammwal', 'Pooja Sawant', 'Chuck Russell', '29 March 2019')
(6, 'Dangal', 'Aamir Khan', 'Fatima Sana Shaikh', 'Nitesh Tiwari', '23 December 2016')
(7, '3 Idiots', 'Aamir Khan', 'Kareena Kapoo', 'Rajkumar Hirani', '25 December 2009')
(8, 'Thugs of Hindostan', ' Aamir Khan', 'Fatima Sana Shaikh', 'Vijay Krishna Acharya', '8 November 2018')
(9, 'Lagaan', 'Aamir Khan', 'Gracy Singh', 'Ashutosh Gowariker', '15 June 2001')
(10, 'Mangal Pandey: The Rising', 'Aamir Khan', 'Rani Mukerji', 'Ketan Mehta', '12 August 2005')
(11, 'Drishyam', 'Ajay Devgan', 'Tabu', 'Nishikant Kamat', '31 July 2015')
(12, 'Shivaay', 'Ajay Devgan', 'Erika Kaar', 'Ajay Devgn', '28 October 2016')
(13, 'Raid', 'Ajay Devgan', 'Ileana D Cruz', 'Raj Kumar Gupta', '16 March 2018')
(14, 'Tanhaji', 'Ajay Devgan', 'Kajol', 'Om Raut', '10 January 2020')
(15, 'Kesari', 'Akshay Kumar', 'Parineeti Chopra', 'Anurag Singh', '21 March 2019')

In [12]:
for row in c.execute('SELECT * FROM Movies ORDER BY Director'):
    print(row)

(12, 'Shivaay', 'Ajay Devgan', 'Erika Kaar', 'Ajay Devgn', '28 October 2016')
(2, 'Tum Bin', 'Priyanshu Chatterjee', 'Sandali Sinha', 'Anubhav Sinha', '13 July 2001')
(15, 'Kesari', 'Akshay Kumar', 'Parineeti Chopra', 'Anurag Singh', '21 March 2019')
(9, 'Lagaan', 'Aamir Khan', 'Gracy Singh', 'Ashutosh Gowariker', '15 June 2001')
(5, 'Junglee', 'Vidyut Jammwal', 'Pooja Sawant', 'Chuck Russell', '29 March 2019')
(10, 'Mangal Pandey: The Rising', 'Aamir Khan', 'Rani Mukerji', 'Ketan Mehta', '12 August 2005')
(11, 'Drishyam', 'Ajay Devgan', 'Tabu', 'Nishikant Kamat', '31 July 2015')
(6, 'Dangal', 'Aamir Khan', 'Fatima Sana Shaikh', 'Nitesh Tiwari', '23 December 2016')
(14, 'Tanhaji', 'Ajay Devgan', 'Kajol', 'Om Raut', '10 January 2020')
(1, 'K.G.F: Chapter 1', 'Yash', 'Srinidhi Shetty', 'Prashanth Neel', '21 December 2018')
(13, 'Raid', 'Ajay Devgan', 'Ileana D Cruz', 'Raj Kumar Gupta', '16 March 2018')
(7, '3 Idiots', 'Aamir Khan', 'Kareena Kapoo', 'Rajkumar Hirani', '25 December 2009')
(3, 'Baahubali: The Beginning', 'Prabhas', 'Anushka Shetty', 'S. S. Rajamouli', '10 July 2015')
(4, 'Baahubali 2: The Conclusion', 'Prabhas', 'Anushka Shetty', 'S. S. Rajamouli', '28 April 2017')
(8, 'Thugs of Hindostan', ' Aamir Khan', 'Fatima Sana Shaikh', 'Vijay Krishna Acharya', '8 November 2018')

In [13]:
for row in c.execute('SELECT * FROM Movies ORDER BY Movie_Name'):
    print(row)

(7, '3 Idiots', 'Aamir Khan', 'Kareena Kapoo', 'Rajkumar Hirani', '25 December 2009')
(4, 'Baahubali 2: The Conclusion', 'Prabhas', 'Anushka Shetty', 'S. S. Rajamouli', '28 April 2017')
(3, 'Baahubali: The Beginning', 'Prabhas', 'Anushka Shetty', 'S. S. Rajamouli', '10 July 2015')
(6, 'Dangal', 'Aamir Khan', 'Fatima Sana Shaikh', 'Nitesh Tiwari', '23 December 2016')
(11, 'Drishyam', 'Ajay Devgan', 'Tabu', 'Nishikant Kamat', '31 July 2015')
(5, 'Junglee', 'Vidyut Jammwal', 'Pooja Sawant', 'Chuck Russell', '29 March 2019')
(1, 'K.G.F: Chapter 1', 'Yash', 'Srinidhi Shetty', 'Prashanth Neel', '21 December 2018')
(15, 'Kesari', 'Akshay Kumar', 'Parineeti Chopra', 'Anurag Singh', '21 March 2019')
(9, 'Lagaan', 'Aamir Khan', 'Gracy Singh', 'Ashutosh Gowariker', '15 June 2001')
(10, 'Mangal Pandey: The Rising', 'Aamir Khan', 'Rani Mukerji', 'Ketan Mehta', '12 August 2005')
(13, 'Raid', 'Ajay Devgan', 'Ileana D Cruz', 'Raj Kumar Gupta', '16 March 2018')
(12, 'Shivaay', 'Ajay Devgan', 'Erika Kaar', 'Ajay Devgn', '28 October 2016')
(14, 'Tanhaji', 'Ajay Devgan', 'Kajol', 'Om Raut', '10 January 2020')
(8, 'Thugs of Hindostan', ' Aamir Khan', 'Fatima Sana Shaikh', 'Vijay Krishna Acharya', '8 November 2018')
(2, 'Tum Bin', 'Priyanshu Chatterjee', 'Sandali Sinha', 'Anubhav Sinha', '13 July 2001')

In [14]:
for row in c.execute('SELECT * FROM Movies WHERE Lead_Actor = "Aamir Khan" '):
    print(row)

(6, 'Dangal', 'Aamir Khan', 'Fatima Sana Shaikh', 'Nitesh Tiwari', '23 December 2016')
(7, '3 Idiots', 'Aamir Khan', 'Kareena Kapoo', 'Rajkumar Hirani', '25 December 2009')
(9, 'Lagaan', 'Aamir Khan', 'Gracy Singh', 'Ashutosh Gowariker', '15 June 2001')
(10, 'Mangal Pandey: The Rising', 'Aamir Khan', 'Rani Mukerji', 'Ketan Mehta', '12 August 2005')

In [15]:
for row in c.execute('SELECT * FROM Movies WHERE Lead_Actress = "Anushka Shetty" '):
    print(row)

(3, 'Baahubali: The Beginning', 'Prabhas', 'Anushka Shetty', 'S. S. Rajamouli', '10 July 2015')
(4, 'Baahubali 2: The Conclusion', 'Prabhas', 'Anushka Shetty', 'S. S. Rajamouli', '28 April 2017')

In [16]:
for row in c.execute('SELECT Movie_Name,Lead_Actor,Year_of_Release FROM Movies WHERE Lead_Actor = "Aamir Khan" '):
    print(row)

('Dangal', 'Aamir Khan', '23 December 2016')
('3 Idiots', 'Aamir Khan', '25 December 2009')
('Lagaan', 'Aamir Khan', '15 June 2001')
('Mangal Pandey: The Rising', 'Aamir Khan', '12 August 2005')